<ul lang="fr">
    <li>Voici une version web du <a href="" target="_blank">jeu <i>XXX</i></a> </li>
    <li>Règles du jeu...</li>
    <li>Le panneau inférieur permet de choisir un problème parmi ceux proposés dans le jeu original.</li> 
    <li>Pour retrouver le problème initial, il suffit de cliquer sur le même numéro ou sur la flèche courbe bleue en bas à droite.</li>
    <li>Pour annuler les derniers coups, il suffit de cliquer sur la flèche en bas à gauche.</li>
    <li>Le système est capable de trouver la solution <i>optimale</i> (c’est-à-dire avec le nombre minimal de déplacements) à partir de la configuration courante. Il faut cliquer sur <button>Résoudre</button> et l'affichage montre la configuration finale. <b>Expliquer la notation des coups!</b> <i>Mais essayez plutôt de résoudre le problème par vous-même!</i></li>
</ul>
<ul lang="en">
    <li>Here is a web version of the <a href="" target="_blank">game <i>XXX</i></a> .</li>
    <li>Game rules...</li>
    <li>The bottom panel allows you to choose a problem from among those offered in the original game.</li>
    <li>To return to the initial problem, simply click on the same number or on the blue curved arrow at the bottom right.</li>
    <li>To undo the last few moves, simply click on the arrow at the bottom left.</li>
    <li>The system is able to find the optimal solution (i.e., with the minimum number of moves) from the current configuration. Click on <button>Solve</button> and the display will show the final configuration. <b>Explain moves notation!</b> <i>But try to solve the problem yourself first!</i></li>
</ul>
