#svg_element {
  border:thin solid black;
  background-color: aliceblue;
  user-select:none
}
td {text-align: center;border:thin solid black}
table {border-collapse: collapse; display:inline-block;}
table#infos td {border:none}
table#infos {float:right}

#niveaux,#solve,#message {
  vertical-align: top;
}

#changeLang, #hide-show-explanation{
  float:right;
  cursor:pointer;
  color:blue;
  border:thin solid blue;
  padding: 2px;
  margin: 6px;
  border-radius: 4px;
}

#explanation {
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* hide reset and undo on small screens  
   and disable touch actions preventing dragging of objects */
@media screen and (max-width: 500px) {
  #undo, #reset {display:none}
  #svg_element {width: 100%;
                touch-action: none;}
}

